page-criar-atividade {
   .ion-card-header-turmas {
        background-color: map-get($colors, blue);
        font-size: 18px;
        color: white;
    }
    
    .item-select {
        border-style: solid;
        border-width: 2px;
        border-color: map-get($colors, blue);
    }
}
